<div id="<%= dom_id internet_speed %>">
  <p>
    <strong>Place:</strong>
    <%= internet_speed.place_id %>
  </p>

  <p>
    <strong>Download speed:</strong>
    <%= internet_speed.download_speed %>
  </p>

  <p>
    <strong>Download units:</strong>
    <%= internet_speed.download_units %>
  </p>

</div>
