<div id="<%= dom_id place %>">
  <p>
    <strong>City:</strong>
    <%= place.city %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= place.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= place.address %>
  </p>

</div>
