<p style="color: green"><%= notice %></p>

<div>
    <h1>Places</h1>

    <div id="places">
      <% @places.each do |place| %>
        <%= render place %>
        <p>
          <%= link_to "Show this place", place_path(place.external_id) %>
        </p>
      <% end %>
    </div>

    <%= link_to "New place", new_place_path %>

    <div id="places-list-container"></div>
</div>
